div {
  display:block;
}



button {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color:#ffb400;
  
}


#hiddenMessage {
  padding: 10px;
  border: red 10px solid;
  display: none;
}
