<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>lvl1-instractions</title>
	<link rel="stylesheet" type="text/css" href="../styles/levelMap.css">
</head>
    <body>

        <div>
            <a href="../views/level-map.html">
                <img src="../images/arrow.png" height="40px" width="40px">
            </a>

        </div>   
        <p>BeanBean is going home. He has only 60 seconds till home planet.
        Collect as many as possible tools by flying through the space, before the time is up. 
        Avoid candies!</p>
        
       <a href="game1.html">
                    <button class="gobutton">GO!</button>
                </a>
           
           
        </div>   

    </body>
</html>