<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>lvl1-instractions</title>
	<link rel="stylesheet" type="text/css" href="../css/Kate-levelMap.css">
</head>
    <body>
        <div class="lvlmapicon">
            <a href="Kate-levelMAp.html">
        <img src="http://library.duke.edu/data/sites/default/files/datagis/users/angela.zoss/iconmonstr-map-4-icon-01.png" height="40px" width="40px">level map</a>
        </div>   
        <p>Bean Bean is going home. He has only 60 sec till home planet.
        Collect as many as possible tools by flying through the space, before the time is up. 
        Avoid candies!</p>
       

    </body>
</html>