<!DOCTYPE html>
    <html>
        <head>
            <!--the meta tag and the content selector allows the page to somewhat mobile responsive, 
	        more coding is required to access this information it is in our shared google document named 
	        Game Research-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="icon" type="image/png" href="../images/BeanBean-01.png">
            
            <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

            <script src="../javascript/landing-page.js"></script>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>            

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                    crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="../styles/landingpage.css">
        
        </head>
        <body>
            
            <figure class="star" >
                    <figure class="star-top"></figure>
                     <figure class="star-bottom"></figure>
                </figure>
                
            <div class="imgs">
  
                <img class="BeanBeanLogo" src="../images/BeanBeanLogo-01.png"><img>
                
                <img class="BeanBean" src="../images/BeanBean-01.png"><img>
                
                <p class="intro" id="hello">Hi! I'm Bean Bean!<img></p>
                
                <p class="briefOverview">  I need your help! What is your name?</p>
                
                <input  class="name" placeholder="what's your name?" type="text">
                
                </input>
                
                <a href="../views/level-map.html">
                    <button class="gobutton">LETS PLAY!</button>
                </a>
            
            </div>
            
        </body>
    </html>