<!DOCTYPE html>
    <html>
        <head>
            
            <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

            <script src="../js/Jamie-landingpage.js"></script>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>            

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                    crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="../css/Jamie-landingpage.css">
        
        </head>
        <body>
            
            <div class="imgs">
                
                <img class="BeanBeanLogo" src="https://preview.c9users.io/janderson24/teamattribute/assets/BeanBeanLogo-01.png?_c9_id=livepreview6&_c9_host=https://ide.c9.io"><img>
                
                <img class="BeanBean" src="https://preview.c9users.io/janderson24/teamattribute/assets/BeanBean-01.png?_c9_id=livepreview6&_c9_host=https://ide.c9.io"><img>
                
                <input  class="name" placeholder="what's your name?" type="text"></input>
                
                <a href="Kate-levelMAp.html">
                    <button class="gobutton">GO!</button>
                </a>
  
            </div>
           
        </body>
    </html>