<!DOCTYPE html>
    <html>
        <head>
            <!--the meta tag and the content selector allows the page to somewhat mobile responsive, 
	        more coding is required to access this information it is in our shared google document named 
	        Game Research-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="icon" type="image/png" href="../images/BeanBean-01.png">
            
            <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

            <script src="../javascript/landing-page.js"></script>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>            

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                    crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="../styles/landingpage.css">
            
            
        </head>
        <body>
            
            <div id="load_screen">
                
                <div id="loading">loading!</div>
            
            </div>
            
            <script>
                    window.addEventListener("load", function(){
                	var load_screen = document.getElementById("load_screen");
                	document.body.removeChild(load_screen);
                    });
            </script>
        
            <figure class="star" >
                    
                    <figure class="star-top"></figure>
                    
                    <figure class="star-bottom"></figure>
                
            </figure>
                
            <div class="imgs">
  
                <img class="BeanBeanLogo" src="../images/BeanBeanLogo-01.png"><img>
                
                <img class="BeanBean" src="../images/BeanBean-01.png"><img>
                
                <p class="intro" id="hello">Hi! I'm Bean Bean!</p>
                
                <p class="story"><span id = "insertName"></span>, I need your help
                    <br>collecting cool coins
                    <br>across the galaxy!
                </p>
                
                <input  class="name" placeholder="what's your name?" type="text">
                
                </input>
                
                <a href="../views/level-map.html">
                    <button class="gobutton">LET'S GO<span id = "insertName"></span>!</button>
                </a>
            
            </div>
            
            <div class="sponsors">
                
                <a href="http://www.bigshouldersfund.org/about-us/">
                    <img class="thePrivateBank" src="../images/thePrivateBank.png"></img>
                </a>
                
                <a href="http://www.msgen.com/assembled/company_story.html">
                    <img class="msgLogo" src="../images/MSGlogo.gif"></img>
                </a>
                
                <a href="https://www.theprivatebank.com/about-the-privatebank/">
                    <img class="bigShouldersFund" src="../images/bigShouldersFund.png"></img>
                </a>
                
                <a href="http://www.icstars.org/overview">
                     <img class="icstarsLogo" src="../images/icstarslogo.gif"></img>
                </a>
            </div>
            
        </body>
    </html>