<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../images/BeanBean-01.png">
        
        <link rel="stylesheet" href="../css/Jamie-level1.css" type="text/css" />
        
        <script type="text/javascript" src="../js/Jamie-level1.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>            

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                    crossorigin="anonymous">
                    
    </head>
    <body>
        
        <div class="gamecanvas">
            
            <p class="score">Score</p>
            
            <img class="hotdog"></img>
            
            <div id="avatar"></div>
            
        </div>
        
    </body>
</html>
