<!--<!DOCTYPE html>
<html>
    <head>
        <title>Planet 1</title>
        
        <link rel="icon" type="image/png" href="../images/BeanBean-01.png">
        
        <link rel="stylesheet" href="../styles/level1.css" type="text/css" />
        
        <script type="text/javascript" src="../javascript/level1.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>            
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                    crossorigin="anonymous">
         
    </head>
    <body id="gamecanvas">
        
            <div id="avatar"></div>
          
    </body>
    <script src="//www.kirupa.com/prefixfree.min.js"></script>
</html>-->

<!DOCTYPE html>
    <html>
        <head>
            <title>Move to Click Position</title>
            
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="stylesheet" type="text/css" href="../styles/level1.css">
        </head>
        <body>

            <div id="contentContainer">
                
                <img id="avatar" src="../images/BeanBean-02.png">
                
            </div>
            
            <script src="../javascript/level1.js"></script>
            
             <figure class="star" >
                    <figure class="star-top"></figure>
                     <figure class="star-bottom"></figure>
                </figure>
            
        </body>
</html>

