<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>level_map</title>
	<link rel="stylesheet" type="text/css" href="../styles/levelMap.css">
</head>
<body>
	<div class="butons">
		
		<div class="button1">
			
			<a href="https://www.facebook.com/codecademy">
				<img src="../images/settings.png" height="30px" width="30px">
			</a>
			
		</div>
		
		<div class="button2">
			
			<a href="https://www.facebook.com/codecademy">
				<img src="../images/pblogo.png" height="30px" width="30px">
			</a>
			
		</div>
		
	</div>	
	
	<div class="planets">
		<a href="../views/game-instructions.html">
			<img class="planet1" src="../images/planet1.png">
		</a>
		
		<a href="https://www.linkedin.com/">
			<img class="planet2" src="../images/planet2.png">
		</a> 
		
		<a href="https://www.linkedin.com/">
			<img class="planet3" src="../images/planet3.png">
		</a> 
		
		<a href="https://www.linkedin.com/">
			<img class="planet4" src="../images/planet4.png">
		</a>
		
	</div>

</body>
</html>