<!DOCTYPE html>
<html>
<head>
	<!--the meta tag and the content selector allows the page to somewhat mobile responsive, 
	more coding is required to access this information it is in our shared google document named 
	Game Research-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="../images/BeanBean-01.png">
	
	<meta charset="utf-8">
	
	<title>level_map</title>
	
	<link rel="stylesheet" type="text/css" href="../styles/levelMap.css">
	<style>
		
	</style>
	
</head>
<body>
	
		
                
		<ul class="buttons">
			<li class="button1">
			
				<a href="https://www.facebook.com/codecademy">
					<img src="../images/settings.png" width="10%">
				</a>
			
			</li>
		
			<li class="button2">
			
				<a href="https://www.facebook.com/codecademy">
					<img src="../images/pblogo.png" width="10%">
				</a>
			
			</li>
		
		</ul>	
                
	<ul class="planets">
		<li>
		<a href="../views/game-instructions.html">
			<img class="planet1" src="../images/planet1.png" width="30%">
		</a>
		</li>
		<li>
		<a href="../views/level1.html">
			<img class="planet2" src="../images/planet2.png" width="30%">
		</a> 
		</li>
		<li>
		<a href="https://www.linkedin.com/">
			<img class="planet3" src="../images/planet3.png" width="30%">
		</a> 
		</li>
	</ul>
	

</body>
</html>