<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../images/BeanBean-01.png">
        
        <link rel="stylesheet" href="../styles/level1.css" type="text/css" />
        
        <script type="text/javascript" src="../javascript/level1.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>            
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                    crossorigin="anonymous">
                    
    </head>
    <body onload="startGame()">
        
        <button>move it</button>
        
        <div id="gamecanvas">
            
            <div id="avatar"></div>
            
        </div>
        
    </body>
</html>
