body {
   
    background-image: url("https://preview.c9users.io/janderson24/teamattribute/assets/landingpagebackdrop-01.png?_c9_id=livepreview6&_c9_host=https://ide.c9.io");
    background-position:fixed;
    background-repeat: no-repeat;
    background-color: #f2632c;
    height: 100%;
    overflow-y: hidden;
    
}
.BeanBeanLogo {
    height:190px;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.BeanBean {
    height:450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.content {
    
}

.name {
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

.gobutton {
    font-family:"Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    background-color:#bad75b;
    border-radius: 5px;
    
}