#canvas {
    position: absolute;
}
#contentContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute; 
    top: 0; 
    left: 0;
    background-color: black;
    cursor: pointer;

}

#avatar {
    height: 80px;
    width:90px;
    position: relative;
    left: 50px;
    top:50px;
    transition: left .5s ease-in, top .5s ease-in;
    z-index: 1;
}

.star {
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 48px;
    height: 48px;
    overflow: hidden;

    z-index: 3;
    animation: glitter 4.5s linear 0s infinite normal;
    -webkit-animation: glitter 4.5s linear 0s infinite normal;
    -moz-animation: glitter 4.5s linear 0s infinite normal;
    -ms-animation: glitter 4.5s linear 0s infinite normal;
    -o-animation: glitter 4.5s linear 0s infinite normal;
}
.star-top,.star-bottom{
    position: absolute;
    display: block;
}
.star-top:before , 
.star-top:after ,
.star-bottom:before ,
.star-bottom:after{
    content: "";
    width: 5px;
    height: 5px;
    background:#d8ff00;
    border-radius: 100%;
    position: absolute;
}

/*CSS3 pseudo class for positioning curves*/

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
 0%   { -webkit-transform: scale(1.0); opacity: 1; }
 25%  { -webkit-transform: scale(0.5); opacity: 0; }
 50%  { -webkit-transform: scale(1.0); opacity: 1; }
 75%  { -webkit-transform: scale(0.5); opacity: 0; }
 100% { -webkit-transform: scale(1.0); opacity: 1; }
}
@-moz-keyframes glitter {
 0%   { -moz-transform: scale(1.0); opacity: 1; }
 25%  { -moz-transform: scale(0.5); opacity: 0; }
 50%  { -moz-transform: scale(1.0); opacity: 1; }
 75%  { -moz-transform: scale(0.5); opacity: 0; }
 100% { -moz-transform: scale(1.0); opacity: 1; }
}